
<div class="bg-warning">
  <div class="container">
    <!--<h1>SilverBear</h1>
    <p>Developer interview task</p>-->
    <h1>Angular 13 with WebAPI Application</h1>    
    <p>CRUD Demo</p>
  
  </div>
</div>


<div class="container">

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#product">Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#item">Items Master</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#demoprime">Demo (Prime)</a>
    </li>
  </ul>


  <div class="tab-content">

    <div id="product" class="container tab-pane active">
      <app-allproducts [itemCategories]="itemCategories"></app-allproducts>
    </div>

    
    <div id="item" class="container tab-pane fade">      
       <app-allitems [itemCategories]="itemCategories"></app-allitems>      
    </div>
  
    <div id="demoprime" class="container tab-pane fade">      
      <app-demoprime></app-demoprime>    
   </div>
    

  </div>

</div>

<!--
<footer class="bg-secondary">
  <div class="container">
    <h5>Selected Product: {{ this.selectedProduct.longDesc }} </h5>
    <ul>
      <ol *ngFor="let productitem of this.selectedProduct.productItems">
        {{productitem.itemInvolved.longDesc}} x{{productitem.qty}} {{productitem.itemInvolved.unit}}
      </ol>
    </ul>
  </div>
</footer>
-->

